<!doctype html>
<html>
    <head>
        <title>Redi2Medi</title>
        <style type="text/css">
            body {
                font-family:sans-serif;
                background-color:#4ad3cc;
                color:#fff;
            }
            div {
                padding:10px 0;
            }
            button {
                color:#fff;
                background-color:#4ad3cc;
                border:solid 2px #fff;
                padding:5px;
                font-size:1.2em;
            }
            a {
                color:#fff !important;
            }
        </style>
    </head>
    <body>
        <h1>Redi2Medi</h1>
        
        {{{body}}}

       
    </body>
</html>