<form>
  <!-- <img>logo here -->

  <h1 class="h3 mb-3 fw-bold">Please Sign-in</h1>

  <div class="form-floating">
    <input <!--type={("email")}--> value="{{email}}"  class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email</label>
  </div>
  <div class="form-floating">
    <input <!--type={("password")}--> value="{{password}}" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-success" id="signinBtn" type="submit">Sign in</button>

  <button type="button" class="w-100 btn btn-lg btn-outline-success" id="createBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
   Create Account
  </button>
  <p class="mt-5 mb-3 text-muted">&copy; Redi2Medi</p>
</form>

<!-- modal for creating accounts -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <!-- floatingInput 
          floatingPassword  -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"></button>
          <button type="button" class="btn btn-primary">Create Account</button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.js"></script>
  <script src="public\js\login.js"></script>